.testimonials {
  background-color: #f4ce14;
  padding: 3rem 0;
}

.testimonials__title {
  font-family: "Markazi Text", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.testimonials__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 5rem;
}

@media (max-width: 1000px) {
  .testimonials__list {
    grid-template-columns: 1fr;
  }
}
